body {
  margin: 50px;
  font-family: Arial, sans-serif;
}

.navigator {
  display: flex;
  justify-content: flex-end;
  padding: 20px; 
}

.nav-clik a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.works {
  padding: 40px 200px;
}

.work-item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.work-item img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
  object-fit: cover;
}

.year {
  font-weight: bold;
  color: white;
  background: black;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  margin: 5px 0;
}

.trip {
  font-weight: bold;
  color: rgb(131, 129, 129);
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  margin: 5px 0;
}

footer {
  text-align: center;
  padding: 40px;
  color: #555;
}
.socials img {
  margin: 0 10px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}